@import normalize

@font-face
	font-family: 'AgoraBold'
	src: url('../fonts/pfagorasanspro-bold.ttf')

@font-face
  font-family: 'AgoraRegular'
	src: url('../fonts/pfagorasanspro-reg.ttf')

@font-face
	 font-family: 'AgoraLight'
	src: url('../fonts/pfagorasanspro-light.ttf')

@font-face
	font-family: 'AgoraThin'
	src: url('../fonts/pfagorasanspro-thin.ttf')

html,
body
  width: 100%
  height: 100%

body
	background: #fff
  width: 100%
	font-family: 'AgoraLight', Arial, sans-serif

.container
  margin: 0 auto
  width: 1079px

.nav
  button
    cursor: pointer
    font-size: 0
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      background-image: url('../img/icon-menu-open.svg')
      background-repeat: no-repeat
      background-position: center
      width: 162px
      height: 19px

.header__phone
  font-size: 16px
  background-color: #ffd200
  border-radius: 7px
  color: #212121
  text-decoration-style: dotted

.header__logout
  font-size: 0
  cursor: pointer
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    background-image: url('../img/logout.png')
    background-repeat: no-repeat
    background-position: center
    width: 33px
    height: 29px

.intro
  text-align: center
  padding-top: 54px

  background-image: url('../img/main_banner.jpg')
  background-repeat: no-repeat
  background-position: center

.pluses
  text-align: center

.advantage
  text-align: center

.solutions
  text-align: center

.info
  text-align: center

.testimonials
  text-align: center

.testimonials__next
  text-align: right
